{% extends 'customadmin/base.html' %}

{% load static %}
{% load admin_extras %}
{% load misc_filters %}
{% load i18n %}

{% load admin_extras %}

{% block title %}Dashboard{% endblock%}

{% block breadcrumbs %}{% endblock %}

{% block content %}

{% now "Y" as year_arg %}
{% now "M" as month_arg %}
{% now "d" as day_arg %}




<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox ">
        <div class="ibox-title">
          <div class="ibox-tools">
          </div>
          <h5>Users</h5>
        </div>
        <div class="ibox-content">
          <h3 class="no-margins">{{ user_count }}</h3>
          <small>Total users joined</small>
        </div>
      </div>{{Movie.avaregereview}}
    </div>

    <div class="col-lg-3">
      <div class="ibox ">
        <div class="ibox-title">
          <div class="ibox-tools">
          </div>
          <h5>Added movies</h5>
        </div>
        <div class="ibox-content">
          <h3 class="no-margins">{{ movie_count }}</h3>
          <small>Total Movies added</small>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="ibox ">
        <div class="ibox-title">
          <div class="ibox-tools">
          </div>
          <h5>Deleted Movies</h5>
        </div>
        <div class="ibox-content">
          <h3 class="no-margins">{{ delete_count }}</h3>
          <small>Total deleted</small>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="ibox ">
  <div class="ibox-title">
    <h5>AVG Rating Chart</h5>
    <div class="ibox-tools">
      <div class="btn-group">
        <button type="button" class="btn btn-xs btn-white active">Today</button>
        <button type="button" class="btn btn-xs btn-white">Monthly</button>
        <button type="button" class="btn btn-xs btn-white">Annual</button>
      </div>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>

            <canvas id="chart" width=5000 height="800"></canvas>

            <script> let ctx = document.getElementById("chart").getContext("2d");

              console.log("movie");
              var name = {{ movie| safe}}




              // console.log({{movie|safe}});

              console.log(name);



              let chart = new Chart(ctx, {
                type: "bar",
                data: {
                  labels: name,
                  datasets: [
                    {
                      label: "Avg rating",

                      borderColor: "rgb(0,255,255)",

                      borderWidth: 1000,
                      barThickness: 10,

                      data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
                    }
                  ]
                },
                options: {
                  title: {
                    text: "Top movie rating",
                    display: true
                  }
                }
              });</script> -->
    <!-- 3,5,6,1,3,4,4,6,5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>         -->
    <canvas id="myChart" style="width:100%;"></canvas>
    <script>
      const ctx = document.getElementById('myChart').getContext('2d');
      var name = {{ movie| safe}}


      const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: name,
          datasets: [{
            label: "Movie ratting",
            data: [1, 2, 3,4,5],
            borderWidth: 50,
            barThickness: 20,
            backgroundColor: [
              'rgba(255, 99, 132, 0.5)',
              'rgba(54, 162, 235, 0.5)',
              'rgba(255, 206, 86, 0.5)',
              'rgba(75, 192, 192, 0.5)',
              'rgba(153, 102, 255, 0.5)',
              'rgba(0, 128, 128, 0.2)',
              'rgba(191, 99, 247, 0.2)',
              'rgba(25, 25, 112, 0.2)',
              'rgba(236, 241, 172, 0.2)',
              'rgba(0, 0, 255, 0.3)',
              'rgba(161, 42, 113, 0.2)',
              'rgba(4, 55, 242, 0.3)'
            ],
            borderColor: [
              'rgba(0,0,0,0)',
              'rgba(0,0,0,0)',
              'rgba(0,0,0,0)',
              'rgba(0,0,0,0)',
              'rgba(0,0,0,0)',
              'rgba(0, 128, 128, 1)',
              'rgba(191, 99, 247, 0.2)',
              'rgba(25, 25, 112, 0.2)',
              'rgba(236, 241, 172, 0.2)',
              'rgba(0, 0, 255, 0.3)',
              'rgba(161, 42, 113, 0.2)',
              'rgba(4, 55, 242, 0.3)'
            ],
            borderWidth: 500

          }]
        },
        options: {

          scales: {
            xAxes: name[0],
            yAxes: [{ ticks: { min: 0, max: 5 } }],
          }
        }
      });
    </script>




  </div>
</div>







{% comment %} <div class="row">

  <div class="col-lg-4">
    <div class="ibox ">
      <div class="ibox-title">
        <div class="ibox-tools">
          <span class="label label-success float-right">Annnual</span>
        </div>
        <h5>Visits</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">40,886,200</h1>
        <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
        <small>Total income</small>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="ibox ">
      <div class="ibox-title">
        <div class="ibox-tools">
          <span class="label label-info float-right">Monthly</span>
        </div>
        <h5>Visits</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">275,800</h1>
        <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
        <small>New orders</small>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="ibox ">
      <div class="ibox-title">
        <div class="ibox-tools">
          <span class="label label-primary float-right">Today</span>
        </div>
        <h5>Visits</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">106,120</h1>
        <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
        <small>New visits</small>
      </div>
    </div>
  </div>

</div> {% endcomment %}
<!-- /row -->

{% endblock %}