{% extends 'base.html' %}

{% block content %}
<style>
    .gred{ background: linear-gradient(to bottom, #0000009f 0%, #657781 100%);}
    
    </style>
    <div class="gred">
        
        <center><h1>Movie List</h1></center>    <br><br>
        <center><a type="button" class="btn btn-secondary" href="{% url 'add_movietowatchlist' %}">Add Movie to Watchlist</a>
          <a type="submit" class="btn btn-secondary" href="{% url 'add_rating' %}">Rate Movie</a>
          <a type="button" class="btn btn-secondary" href="{% url 'watchlist' %}">Your Watchlist</a>
          <a type="button" class="btn btn-secondary" href="{% url 'user_rating' %}">Your rating</a>
        </center>
        
        <br><br>
        <div class="container-fluid">
         <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">Movie Name</th>
                <th scope="col">Language</th>
                <th scope="col">Cast</th>
                <th scope="col">Genre</th>
                <th scope="col">Rating</th>
              </tr>
            </thead>
            <tbody>
                {% for i in movielist %}
              <tr>
                <td>{{i.movie}}</td>
    
                <td>{% for lang in i.language.all%}
                   <p> {{lang}} </p>
                    {% endfor %}
                </td>
    
                <td>{% for cast in i.cast.all %}
                    <p>{{cast}}</p>
                    {% endfor %}
                </td>
    
                <td>{% for genre in i.genre.all %}
                   <p> {{genre}} </p>
                    {% endfor %}
                </td>
              
                <td>  
              
   
                {{i.avaregereview}}

    
                {% endfor %}

                </td>
    
             
              </tr>
    
             
            </tbody>
          </table><br><br><br><br><br>
        </div>
    </div>
    
    {% endblock %}
