{% load static %}
{% load i18n %}
{% load admin_extras %}
{% load misc_filters %}

<header class="list-header card mb-4">
  <div class="card-body clearfix">
    <div class="float-left">
      <h5 class="card-title">{{ title }}</h5>
      <p class="card-subtitle text-muted">{{ subtitle }}</p>
    </div>

    {% if has_add_permission and show_button %}


    {% if opts.verbose_name_plural == 'Users' %}
    <div class="float-right lead" style="margin-left: 10px;">
      <a href="{%url 'customadmin:export_user_csv'%}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> Export
        CSV</a>
    </div>

    {% elif opts.verbose_name_plural == 'Movies' %}
    <div class="float-right lead" style="margin-left: 10px;">
      <a href="{#}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> Export CSV</a>
    </div>

    {% endif %}





    <div class="float-right lead">

      {% if opts.verbose_name_plural == 'Users' %}

      <a href="{% url 'customadmin:user-create' %}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> New
        User</a>


      {% elif opts.verbose_name_plural == 'Movies' %}

      <a href="{% url 'customadmin:testimonial-create' %}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i>
        New Movie</a>




      {% else %}

      <a href="{#}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> New {{ opts.verbose_name|capfirst }}</a>

      {% endif %}

    </div>
    {% endif %}
  </div>
</header>
<!-- /card -->