{% extends 'base.html' %}
{% block content %}
<style>
    .gred {
        background: linear-gradient(to bottom, #0000009f 0%, #657781 100%);
    }
</style>
<div class="gred">

    <center>
        <h1>Edit Movie</h1>
    </center> <br><br>

    <br><br>
    <div class="container-fluid">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Movie Name</th>
                    <th scope="col">Language</th>
                    <th scope="col">Cast</th>
                    <th scope="col">Genre</th>

                </tr>
            </thead>
            <tbody>
                <form method="post">
                    {% csrf_token %}

                    <tr>
                        <td>{{movie.movie}}</td>
                        <td>{{movie.language}}</td>
                        <td>{{movie.cast}}</td>
                        <td>{{movie.genre}}</td>
                        <!-- <form method="POST">

                {% csrf_token %}
                {{ form.as_p }}
                <br/>
                <br/>
                <input type="reset" value="Reset" class="btn btn-secondary">
                <input type="submit" value=" Post " class="btn btn-success">
                <br/>
            </form> -->

                    </tr>
            </tbody>
        </table><br><br>
        <center><button type="submit" class="btn btn-secondary">Change</button></center>

        </form>

        <br><br><br>
    </div>
</div>



{% endblock %}