<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>Home page</title>
</head>

<body>
    <style>
     body{background-image: url("https://wallpaperaccess.com/full/1561985.jpg") }
     .line{margin-left: 400px;margin-right: 400px;font-family:cursive;}
     h4{color: rgb(169, 206, 206);font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;border-color: black;}
        
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <h1>MOVIE ZONE</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Login/Signup
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="login">Login</a></li>
                            <div class="dropdown-divider"></div>
                            <h1 class="dropdown-header">SIGNUP</h1>

                            <li><a class="dropdown-item" href="signup">Sign up as Admin</a></li>
                            <li><a class="dropdown-item" href="#">Sign up as Member</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div style="background-image: https://wallpaperaccess.com/full/1561985.jpg; ">
        <br>
        <br>
        <center>
            <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(221, 59%, 87%); font-size: 90px;">
            Movie Zone <br>
            <span style="color: hsl(218, 76%, 81%);font-size: 75px;">For your entertenment</span>
          </h1>
          <br><br>
          <br><br>
          <br><br>
   
          <h3 class="line" style="color: hsl(150, 67%, 82%)">
            This website provides you the latest movies with full information.You can add movies to your watchlist and
            let you
            rate the movies and you can also add you comments so you can help others by your review.
          </h3>
          <br><br><br><br><br>
          <h4>
              Please login to enjoy our service.If you are new to our website please register youself
          </h4>

        </center>

    </div>


</body>

</html>