
<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Management System</title>
    <link rel="stylesheet" href="{% static 'css/home.css'%} ">
</head>
<body><br>
    <br>
    <header><h1>Welcome to Movie Zone</h1></header>
    <h3>please select option</h3>
    <button href="">login</button>
    <button>signup</button>

    
</body>
</html>